body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.menu {
    padding-left: 94px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

hed.th {
    position: sticky;
    top: 0;
}



.footer {
    text-align: center;
}
