@model SBMS_Project2.Models.Models.Category
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<h2>Search</h2>

<div>
    <form action="Search" method="post">
        <div class="row">
            <div class="form-group col-md-2">
                @*@Html.ActionLink("Add new product", "Add", "Product", new { @class = "btn btn-primary" })*@
            </div>

            <div class="col-md-1 col-lg-offset-5" style="padding-top:6px;">
                <label class="col-lg-offset-10" style="font-size:16px;">Name</label>
            </div>

            <div class="form-group col-md-3">
                <input type="text" name="Name" class="form-control col-lg-offset-1" value="@Model.Name" placeholder="Search by name..." />
            </div>

            <div class="form-group col-md-1">
                <input type="submit" name="submit" class="btn btn-info btn-block" value="Search" />
            </div>
        </div>
    </form>
</div>
